body{
	font-size: 16px;
  	color: #fff;
  }
  #header-nav {
  background-color: #0AB00E;
  border-radius: 0;
  border: 1px solid black;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: sans-serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #948C09;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	text-align: center;
	color: black;
	background-color: white;
	border: 1px solid black;
}
h2 {
	font-size: 2em;
	color: black;
	margin-top: 10px;
	margin-bottom: 25px;
}
section{
	background-color: grey;
  width: 100%;
}
h3{
	margin-top: 15px;
	padding:20px;
	margin-bottom: 0;
  color: black;
}
section p{
	padding: 15px;
	color: black;
	font-size: 1.3em;
}
/*Large mobile device*/
